<p>Welcome, <%= @user.name %>!</p>

<form action="/logout" method="post">
<input type=submit value="Logout">
</form>

<a href="/users/my_questions">My questions</a>

<form action="/questions" method="post">
<p>Post a question here.</p>
<input type=hidden name="question[user_id]" value="<%= current_user.id %>">
<input type=text placeholder="What's your question?" name="question[title]""><br>
<input type=text placeholder="More details" name="question[details]"><br>
<input type=submit value="Submit Question">
</form>

<p>Top questions</p>

<% question = Question.all %>
<% question.reverse.each do |question| %>
<% q_user = User.find_by(id: question.user_id) %>

<p><%= q_user.name %></p>
<p><%= question.title %></p>
<p><%= question.details %></p>
<p><%= QuestionVote.total_votes(question.id) %></p>
<form action="/question_votes" method="post">
	<input type=hidden name=question_vote[user_id] value="<%= current_user.id %>">
	<input type=hidden name=question_vote[question_id] value="<%= question.id %>">
	<button type=submit name=question_vote[choice] value=1>Upvote</button> 
	<button type=submit name=question_vote[choice] value=-1>Downvote</button>
</form>
<% question.answers.each do |answer| %>
<% a_user = User.find_by(id: answer.user_id) %>
<p><%= a_user.name %></p>
<p><%= answer.content %></p>
<p><%= AnswerVote.total_votes(answer.id) %></p>
<form action="/answer_votes" method="post">
	<input type=hidden name=answer_vote[user_id] value="<%= current_user.id %>">
	<input type=hidden name=answer_vote[answer_id] value="<%= answer.id %>">
	<button type=submit name=answer_vote[choice] value=1>Upvote</button> 
	<button type=submit name=answer_vote[choice] value=-1>Downvote</button>
</form>
<div id="new_answer"></div>
<% end %>
<form action="/answers" method="post" id="submit_answer">
	<p>Post your answer here.</p>
	<input type=hidden name="answer[user_id]" value="<%= current_user.id %>">
	<input type=hidden name="answer[question_id]"" value="<%= question.id %>">
	<input type=text name="answer[content]">
	<input type=submit value="Submit answer">
</form>

<% end %>